*{
  font-family:"calibri",sans-serif;
  
}

body {
  margin:auto;
  width:50rem;
}

.background{
  background-color:black;
}

nav{
  background-color:darkgrey;
  text-align: center;
  margin-top:1rem;
}

ul {
  list-style-type: none;
  padding:0;
  display:inline-flex;
}

li {
  margin-right:1.5rem;
  margin-left:1.5rem;
  font-size: 1.5em;
  font-weight: 100;
}


.padding{
  padding-left:2rem;
  padding-right:2rem;

}

h1{
  color:white;
/*  box-sizing: border-box;*/
  font-size: 4em;
  margin: 0;
  padding:0;
  font-weight: 100;
  
}

.sub_head{
  color:darkgrey;
/*  box-sizing: border-box;*/
  font-size: 1.5em;
  margin: 0;
  font-weight: 100;
}

header {
  text-align: right;
  padding: 1rem 0rem 0rem 0rem;
}

header a{
  margin-bottom: 2rem;
}

header h1{
  text-align: left;
  margin-top:3rem;
}

header h3{
  text-align: left;
  margin-bottom:2rem;
  font-weight: 100;
}

.push_left{
  margin-right:1rem;
}

.big_link{
  font-size: 1.5em;
}


/*footer*/

footer{
  clear:both;
  padding-top:2rem;
  padding-bottom:1rem;
}

footer p{
  color:white;
  font-size:1.15em;
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-weight: 100;
  
}

.copyright{
  text-align:center;
  
}


/*linkstates*/

a:link {
    color: red;
}


a:visited {
    color: red;
}


a:hover {
    color: skyblue;
}


a:active {
    color: skyblue;
}


/*nav linkstates*/

nav a:link {
    color: purple;
}


nav a:visited {
    color: purple;
}


nav a:hover {
    color: forestgreen;
}


nav a:active {
    color: forestgreen;
}

/*main*/
main{
  margin-top:2rem;
  
}

.body_copy{
  float:left;
  width:25rem;
  margin-right:3rem;
  margin-bottom: 3rem;
}

aside{
  float:left;
  border:solid 1px black;
  padding:1rem;
  box-sizing: border-box;
  width:17rem;
  font-weight: 100;
  box-shadow: 3px 3px lightgrey;
 }


section p{
  font-size:1.25rem;
  font-weight: 100;
  line-height: 1.75rem;
}

h2{
  font-weight: 100;
  font-size: 2rem;
  margin:0;
  padding:0;
}


h3{
  font-weight: 400;
  font-size:1.6rem;
  text-align: center;
  margin:0;
  padding:0;
  clear:both;
}

h4{
  font-weight: 400;
  font-size:1.4rem;
  text-align: center;
  margin:0 0 .4rem 0;
  padding:0;
}

img{
  margin-left:1rem;
  margin-right:1rem;
  
}

aside a{
  float:right;
}

aside p{
  float:left;
  font-size:1.2rem;
  margin:0;
  width:9rem;
  padding:0;
}

.testimonial{
  font-style:italic;
}

.fan_fave{
  margin-top:4rem;
}